In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import shutil
import difflib

today = date.today()
today = today.strftime("%m.%d.20%y")
today

'11.21.2021'

In [2]:
## BBM Daily

# changes the working directory to your downloads folder
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/BBM_Data'
daily_file = "BBM_Daily.xls"

shutil.move(downloads + "/"+ daily_file,
           data_loc + "/"+ daily_file)

os.chdir(data_loc)

df = pd.read_excel(daily_file)

df1 = df.iloc[:,[1,4,7,8,13,15,16,17,18,19,20,21,22,23,24,25]].copy()

df1['fgm'] = df['fg%'] * df['fga']
df1['ftm'] = df['ft%'] * df['fta']
df1['Expected_Points'] = (df1['p']*1 + df1['3']*0.5 + df1['r']*1.25 + df1['a']*1.5 + df1['s']*2 + df1['b']*2 + df1['to']*-0.5)

df1.to_csv("BBM_Daily_"+str(today)+".csv", index=False)
os.remove("BBM_Daily.xls")

C:\Users\vchang\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\vchang\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\vchang\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
## DKNG Tiers

contest = "Tiers_"
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
contest_data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/Tiers'

shutil.move(downloads + "/"+ "DKSalaries.csv",
           contest_data_loc + "/"+ "DKSalaries.csv")

os.chdir(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/Tiers")
dkng_file = shutil.copy("DKSalaries.csv", "DKSalaries_"+ contest + str(today)+".csv")
os.remove("DKSalaries.csv")

In [2]:
## Merge

os.chdir(r"C:\Users\vchang\Documents\Fantasy Bball\DFS\Tiers Analysis")
bbm = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\BBM_Data\BBM_Daily_' + str(today) + ".csv")
dkng = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\DKNG_Data\Tiers\DKSalaries_Tiers_' + str(today) + ".csv")

dkng['Name'] = dkng['Name'].map(lambda x: difflib.get_close_matches(x, bbm['Name'])[0])

## Update the fuzzy lookup and merge starting with DKNG and loading in Expected Points from BBM

final = pd.merge(bbm,dkng[['Name','Roster Position']], on='Name', how='left')

final.to_csv("final_Tiers_"+str(today)+".csv", index=False)
os.system("final_Tiers_"+str(today)+".csv")

0

In [4]:
df = final.dropna(subset=['Roster Position'])
df.head()
df1 = df.loc[df.groupby('Roster Position')['Expected_Points'].idxmax()]
df1

,Rank,Name,Team,Pos,Opp,p,3,r,a,s,b,fg%,fga,ft%,fta,to,fgm,ftm,Expected_Points,Roster Position
1,2,Nikola Jokic,DEN,PF/C,@ PHO,24.05,1.36,11.63,7.20,1.19,0.58,0.553551,17.18,0.835991,4.39,3.56,9.51,3.67,51.8275,T1
23,24,Russell Westbrook,LAL,PG,@ DET,17.28,1.22,9.08,8.40,1.63,0.27,0.447297,14.80,0.692875,4.07,4.39,6.62,2.82,43.4450,T2
2,3,Chris Paul,PHO,PG,DEN,14.08,1.19,4.45,11.13,2.15,0.43,0.490566,11.13,0.903670,2.18,2.30,5.46,1.97,40.9425,T3
22,23,Cade Cunningham,DET,PG/SG,LAL,17.96,2.79,6.57,4.71,1.36,0.57,0.388011,15.18,0.851759,3.98,4.06,5.89,3.39,36.4625,T4
14,15,Draymond Green,GSW,PF/C,TOR,7.74,0.42,7.90,9.14,1.28,0.99,0.513423,5.96,0.731707,1.64,3.05,3.06,1.20,34.5500,T5
13,14,Alex Caruso,CHI,PG/SG,NYK,9.62,1.24,4.67,5.73,1.84,0.61,0.417488,8.12,0.800000,2.00,1.68,3.39,1.60,28.7325,T6