In [29]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import shutil

today = date.today()
today = today.strftime("%m%d20%y")
today

'11092021'

In [30]:
# changes the working directory to your downloads folder
os.chdir(r"C:\Users\vchang\Downloads")
os.getcwd()

'C:\\Users\\vchang\\Downloads'

In [31]:
daily_file = shutil.copy("BBM_Daily.xls", "BBM_Daily_"+str(today)+".xls")

In [32]:
downloads = r'C:/Users/vchang/Downloads'
data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/BBM_Data'

In [33]:
shutil.move(downloads + "/"+ daily_file,
           data_loc + "/"+ daily_file)

'C:/Users/vchang/Documents/Fantasy Bball/DFS/BBM_Data/BBM_Daily_11092021.xls'

In [34]:
os.chdir(data_loc)
os.getcwd()

'C:\\Users\\vchang\\Documents\\Fantasy Bball\\DFS\\BBM_Data'

In [35]:
df = pd.read_excel(daily_file)
df.head()

,Own,Rank,Y!%,Value,Name,Inj,Status,Team,Pos,g,...,to,pV,3V,rV,aV,sV,bV,fg%V,ft%V,toV
0,Other Active,1,100,0.711084,Paul George,NaN,NaN,LAC,SF/PF,1,...,3.29,2.069623,1.909307,0.444251,1.270287,2.236108,-0.461753,-0.662471,1.145511,-1.551102
1,Other Active,2,100,0.347496,Giannis Antetokounmpo,NaN,NaN,MIL,PF/C,1,...,2.82,2.242874,-0.230886,1.834547,1.376301,0.170226,0.468810,1.266295,-2.980400,-1.020305
2,Other Active,3,100,0.322136,Donovan Mitchell,NaN,NaN,UTA,PG/SG,1,...,2.22,1.910095,1.794140,-0.692910,1.205757,-0.411712,-0.837557,-0.681697,0.955800,-0.342692
3,Other Active,4,100,0.280053,Rudy Gobert,NaN,NaN,UTA,C,1,...,1.61,-0.741841,-1.670478,3.092434,-1.002109,-0.877263,3.564721,1.914593,-2.105793,0.346216
4,Other Active,5,99,0.229866,John Collins,NaN,New Contract,ATL,PF/C,1,...,1.23,0.076383,-0.374845,0.689597,-0.633363,-0.702681,0.397228,1.565307,0.275797,0.775371

In [36]:
# Drops Columns

df1 = df.iloc[:,[1,4,7,8,13,15,16,17,18,19,20,25]]
df1.head()

,Rank,Name,Team,Pos,Opp,p,3,r,a,s,b,to
0,1,Paul George,LAC,SF/PF,POR,28.33,3.73,7.25,6.38,1.80,0.48,3.29
1,2,Giannis Antetokounmpo,MIL,PF/C,@ PHI,29.34,1.50,10.82,6.61,1.09,1.00,2.82
2,3,Donovan Mitchell,UTA,PG/SG,ATL,27.40,3.61,4.33,6.24,0.89,0.27,2.22
3,4,Rudy Gobert,UTA,C,ATL,11.94,0.00,14.05,1.45,0.73,2.73,1.61
4,5,John Collins,ATL,PF/C,@ UTA,16.71,1.35,7.88,2.25,0.79,0.96,1.23

In [37]:
df1['Expected_Points'] = (df1['p']*1 + df1['3']*0.5 + df1['r']*1.25 + df1['a']*1.5 + df1['s']*2 + df1['b']*2 + df1['to']*-0.5)
df1.head()

C:\Users\vchang\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Rank,Name,Team,Pos,Opp,p,3,r,a,s,b,to,Expected_Points
0,1,Paul George,LAC,SF/PF,POR,28.33,3.73,7.25,6.38,1.80,0.48,3.29,51.7425
1,2,Giannis Antetokounmpo,MIL,PF/C,@ PHI,29.34,1.50,10.82,6.61,1.09,1.00,2.82,56.3000
2,3,Donovan Mitchell,UTA,PG/SG,ATL,27.40,3.61,4.33,6.24,0.89,0.27,2.22,45.1875
3,4,Rudy Gobert,UTA,C,ATL,11.94,0.00,14.05,1.45,0.73,2.73,1.61,37.7925
4,5,John Collins,ATL,PF/C,@ UTA,16.71,1.35,7.88,2.25,0.79,0.96,1.23,33.4950

In [38]:
df1.to_csv("BBM_Daily_"+str(today)+".csv", index=False)
os.remove("BBM_Daily_"+str(today)+".xls")
# Opens the excel file
#os.system("BBM_Daily_"+str(today)+".csv")