In [2]:
#import packages and create date

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import *
import shutil
import difflib
from pulp import *
import openpyxl

today = date.today()
#today = today - datetime.timedelta(days=1)
today = today.strftime("%m.%d.20%y")
today

'01.16.2022'

In [3]:
## DKNG Player Pool

contest = "PlayerPool_"
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
contest_data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool'

shutil.move(downloads + "/"+ "DKSalaries.csv",
           contest_data_loc + "/"+ "DKSalaries.csv")

os.chdir(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool")
dkng_file = shutil.copy("DKSalaries.csv", "DKSalaries_"+ contest + str(today)+".csv")
dkng_file = pd.read_csv(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool/DKSalaries.csv")
dkng_file.to_excel(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool/DKSalaries_"+ contest + str(today)+".xlsx", index=False)
os.remove("DKSalaries.csv")
os.remove("DKSalaries_"+ contest + str(today)+".csv")

In [129]:
## ETR Daily

# changes the working directory to your downloads folder
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/ETR_Data/DraftKings'
daily_file = "DK NBA Projections.csv"

shutil.move(downloads + "/"+ daily_file,
           data_loc + "/"+ daily_file)

os.chdir(data_loc)

df = pd.read_csv(daily_file)

df.to_excel("ETR_Daily_"+str(today)+".xlsx", index=False)
os.remove("DK NBA Projections.csv")

In [130]:
## Joins the DKNG and ETR Files to include DKNG Positions 
    ## ETR does not include G/F/UTIL

os.chdir(r"C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis")
etr = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\ETR_Data\DraftKings\ETR_Daily_' + str(today) + ".xlsx")
dkng = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\DKNG_Data\PlayerPool\DKSalaries_PlayerPool_' + str(today) + ".xlsx")

## TO DO - check if merge on only DKNG Roster Position Works
df = pd.merge(etr, 
              dkng[['Name','Roster Position', 'Name + ID']], 
              left_on='Player', 
              right_on='Name')

In [131]:
df.head()

,Player,Team,Opp,Minutes,DK Position,DK Salary,DK Points,DK Value,DK Ceiling,DK Own,DK Slate,Name,Roster Position,Name + ID
0,Jordan Poole,GSW,MIN,33.0,PG/SG,"5,400",36.4,8.8,44.6,71.4,MAIN,Jordan Poole,PG/SG/G/UTIL,Jordan Poole (21014473)
1,Nikola Jokic,DEN,UTA,34.0,C,"12,000",61.8,7.8,70.1,41.0,MAIN,Nikola Jokic,C/UTIL,Nikola Jokic (21014376)
2,De'Aaron Fox,SAC,HOU,35.5,PG,"8,100",44.1,5.7,52.9,38.2,MAIN,De'Aaron Fox,PG/G/UTIL,De'Aaron Fox (21014398)
3,Terence Davis,SAC,HOU,25.0,SG/SF,"3,700",26.4,5.6,34.8,77.0,MAIN,Terence Davis,SG/SF/F/G/UTIL,Terence Davis (21014570)
4,Harrison Barnes,SAC,HOU,34.5,SF/PF,"6,100",34.0,3.6,40.6,64.8,MAIN,Harrison Barnes,SF/PF/F/UTIL,Harrison Barnes (21014428)

In [132]:
## Unnests Roster Positions into each Row (explode in Python) ##


## Update Salary to INT 
df['DK Salary'] = df['DK Salary'].str.replace(",","").astype(float)

df['Roster Position'] = df['Roster Position'].astype(str)
df['Roster Position'] = df['Roster Position'].str.split('/')

df.head()

,Player,Team,Opp,Minutes,DK Position,DK Salary,DK Points,DK Value,DK Ceiling,DK Own,DK Slate,Name,Roster Position,Name + ID
0,Jordan Poole,GSW,MIN,33.0,PG/SG,5400.0,36.4,8.8,44.6,71.4,MAIN,Jordan Poole,"[PG, SG, G, UTIL]",Jordan Poole (21014473)
1,Nikola Jokic,DEN,UTA,34.0,C,12000.0,61.8,7.8,70.1,41.0,MAIN,Nikola Jokic,"[C, UTIL]",Nikola Jokic (21014376)
2,De'Aaron Fox,SAC,HOU,35.5,PG,8100.0,44.1,5.7,52.9,38.2,MAIN,De'Aaron Fox,"[PG, G, UTIL]",De'Aaron Fox (21014398)
3,Terence Davis,SAC,HOU,25.0,SG/SF,3700.0,26.4,5.6,34.8,77.0,MAIN,Terence Davis,"[SG, SF, F, G, UTIL]",Terence Davis (21014570)
4,Harrison Barnes,SAC,HOU,34.5,SF/PF,6100.0,34.0,3.6,40.6,64.8,MAIN,Harrison Barnes,"[SF, PF, F, UTIL]",Harrison Barnes (21014428)

In [133]:
df.to_excel("DKNG_final_PlayerPool_ETR_"+str(today)+".xlsx", index=False)
os.system("DKNG_final_PlayerPool_ETR_"+str(today)+".xlsx")

0

# Create the Constraint Problem

Goal: Maximize DK Points

- Total Players = 8
- TotalSalary <= 50000
- TotalPosition_PG
- TotalPosition_SG
- TotalPosition_G
- TotalPosition_SF
- TotalPosition_PF
- TotalPosition_F
- TotalPosition_C
- TotalPosition_UTIL

In [121]:
prob = pulp.LpProblem('NBA_DFS_Daily', LpMaximize)

In [122]:
player_vars = [pulp.LpVariable(f'player_{row.Player}', cat='Binary') for row in df.itertuples()]

In [123]:
prob += pulp.lpSum(player_var for player_var in player_vars) == 8

In [124]:
# position constraints
def get_position_sum(player_vars, df, position):
    return pulp.lpSum([player_vars[i] * (position in df['Roster Position'].iloc[i]) for i in range(len(df))])
    

prob += get_position_sum(player_vars, df, 'PG') <= 3
prob += get_position_sum(player_vars, df, 'PG') >= 1
prob += get_position_sum(player_vars, df, 'SG') <= 3
prob += get_position_sum(player_vars, df, 'SG') >= 1
# prob += get_position_sum(player_vars, df, 'G') <= 1
# prob += get_position_sum(player_vars, df, 'G') >= 1
prob += get_position_sum(player_vars, df, 'SF') <= 3
prob += get_position_sum(player_vars, df, 'SF') >= 1
prob += get_position_sum(player_vars, df, 'PF') <= 3
prob += get_position_sum(player_vars, df, 'PF') >= 1
# prob += get_position_sum(player_vars, df, 'F') <= 1
# prob += get_position_sum(player_vars, df, 'F') >= 1
prob += get_position_sum(player_vars, df, 'C') <= 2
prob += get_position_sum(player_vars, df, 'C') >= 1
# prob += get_position_sum(player_vars, df, 'UTIL') <= 1
# prob += get_position_sum(player_vars, df, 'UTIL') >= 1

#prob += get_position_sum(player_vars, df, 'PG') <= 1
#prob += get_position_sum(player_vars, df, 'PG') >= 1
#prob += get_position_sum(player_vars, df, 'SG') <= 1
#prob += get_position_sum(player_vars, df, 'SG') >= 1
#prob += get_position_sum(player_vars, df, 'G') == 1
#prob += get_position_sum(player_vars, df, 'SF') <= 1
#prob += get_position_sum(player_vars, df, 'SF') >= 1
#prob += get_position_sum(player_vars, df, 'PF') <= 1
#prob += get_position_sum(player_vars, df, 'PF') >= 1
#prob += get_position_sum(player_vars, df, 'F') == 1
#prob += get_position_sum(player_vars, df, 'C') <= 2
#prob += get_position_sum(player_vars, df, 'C') >= 1
#prob += get_position_sum(player_vars, df, 'UTIL') == 1

In [125]:
# total salary constraint

prob += pulp.lpSum(df['DK Salary'].iloc[i] * player_vars[i] for i in range(len(df))) <= 50000

In [126]:
# finally, specify the goal
prob += pulp.lpSum([df['DK Points'].iloc[i] * player_vars[i] for i in range(len(df))])

In [127]:
# solve and print the status
prob.solve()
print(LpStatus[prob.status])

Optimal

In [128]:
# for each of the player variables, 
total_salary_used = 0
mean_AvgPointsPerGame = 0
for i in range(len(df)):
    if player_vars[i].value() == 1:
        row = df.iloc[i]
        print(row['Roster Position'], row.Player, row.Team, row['DK Salary'], row['DK Points'])
        total_salary_used += row['DK Salary']
        mean_AvgPointsPerGame += row['DK Points']
#mean_AvgPointsPerGame /= 9  # divide by total players in roster to get a mean
total_salary_used, mean_AvgPointsPerGame

['PG', 'SG', 'G', 'UTIL'] Jordan Poole GSW 5400.0 36.4
['C', 'UTIL'] Nikola Jokic DEN 12000.0 61.8
['PG', 'G', 'UTIL'] De'Aaron Fox SAC 8100.0 44.1
['SG', 'SF', 'F', 'G', 'UTIL'] Terence Davis SAC 3700.0 26.4
['SF', 'PF', 'F', 'UTIL'] Harrison Barnes SAC 6100.0 34.0
['PF', 'F', 'UTIL'] Chimezie Metu SAC 4500.0 26.7
['PG', 'SG', 'G', 'UTIL'] Davion Mitchell SAC 3800.0 23.8
['PF', 'F', 'UTIL'] Jae'Sean Tate HOU 6300.0 28.5

(49900.0, 281.7)

In [191]:
df.dtypes

Player              object
Team                object
Opp                 object
Minutes            float64
DK Position         object
DK Salary          float64
DK Points          float64
DK Value           float64
DK Ceiling         float64
DK Own             float64
DK Slate            object
Name                object
Roster Position     object
Name + ID           object
dtype: object