In [5]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import datetime
import shutil
import difflib
from pulp import *

today = date.today()
#today = today - datetime.timedelta(days=1)
today = today.strftime("%m.%d.20%y")
today

'01.02.2022'

In [65]:
downloads = r'C:/Users/vchang/Downloads'
data_loc = r'C:\Users\vchang\Documents\Fantasy Bball\DFS\ETR_Data'
daily_file = "ETR_Daily_" + str(today) + ".xls"

os.chdir(data_loc)

df = pd.read_excel(daily_file)

In [57]:
## DKNG Player Pool

contest = "PlayerPool_"
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
contest_data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool'

shutil.move(downloads + "/"+ "DKSalaries.csv",
           contest_data_loc + "/"+ "DKSalaries.csv")

os.chdir(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool")
dkng_file = shutil.copy("DKSalaries.csv", "DKSalaries_"+ contest + str(today)+".csv")
dkng_file = pd.read_csv(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool/DKSalaries.csv")
dkng_file.to_excel(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool/DKSalaries_"+ contest + str(today)+".xlsx", index=False)
os.remove("DKSalaries.csv")
os.remove("DKSalaries_"+ contest + str(today)+".csv")

In [6]:
## Merge

os.chdir(r"C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis")
etr = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\ETR_Data\ETR_Daily_' + str(today) + ".xlsx")
dkng = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\DKNG_Data\PlayerPool\DKSalaries_PlayerPool_' + str(today) + ".xlsx")

## TO DO - check if merge on only DKNG Roster Position Works
df = pd.merge(etr, 
              dkng[['Name','Roster Position']], 
              left_on='Player', 
              right_on='Name')

In [7]:
df.head()

,Player,Team,Opp,Minutes,DK Position,DK Salary,DK Points,DK Value,DK Ceiling,DK Own,DK Slate,Name,Roster Position
0,Al Horford,BOS,ORL,33.0,PF/C,"7,100",40.9,6.5,47.8,37.4,MAIN,Al Horford,PF/C/F/UTIL
1,Ty Jerome,OKC,DAL,32.0,PG/SG,"4,200",28.8,6.0,36.9,32.5,MAIN,Ty Jerome,PG/SG/G/UTIL
2,Jalen Smith,PHX,CHA,32.0,PF/C,"5,000",31.5,5.5,38.8,51.2,MAIN,Jalen Smith,PF/C/F/UTIL
3,Myles Turner,IND,CLE,33.0,C,"6,800",38.1,4.9,45.8,7.4,MAIN,Myles Turner,C/UTIL
4,LeBron James,LAL,MIN,36.0,PG/SF,"12,000",58.8,4.8,69.0,16.6,MAIN,LeBron James,PG/SF/F/G/UTIL

In [8]:
#df.columns = df.columns.str.replace('_',' ')
df['DK Salary'] = df['DK Salary'].str.replace(",","").astype(float)
df['DK Salary'] = pd.to_numeric(df['DK Salary'])
df['Roster Position'] = df['Roster Position'].str.split('/')
explode = df.explode('Roster Position')
explode.head()

,Player,Team,Opp,Minutes,DK Position,DK Salary,DK Points,DK Value,DK Ceiling,DK Own,DK Slate,Name,Roster Position
0,Al Horford,BOS,ORL,33.0,PF/C,7100.0,40.9,6.5,47.8,37.4,MAIN,Al Horford,PF
0,Al Horford,BOS,ORL,33.0,PF/C,7100.0,40.9,6.5,47.8,37.4,MAIN,Al Horford,C
0,Al Horford,BOS,ORL,33.0,PF/C,7100.0,40.9,6.5,47.8,37.4,MAIN,Al Horford,F
0,Al Horford,BOS,ORL,33.0,PF/C,7100.0,40.9,6.5,47.8,37.4,MAIN,Al Horford,UTIL
1,Ty Jerome,OKC,DAL,32.0,PG/SG,4200.0,28.8,6.0,36.9,32.5,MAIN,Ty Jerome,PG

# Create the Constraint Problem

Goal: Maximize DK Salary

- Total Players = 8
- TotalSalary <= 50000
- TotalPosition_PG
- TotalPosition_SG
- TotalPosition_G
- TotalPosition_SF
- TotalPosition_PF
- TotalPosition_F
- TotalPosition_C
- TotalPosition_UTIL

In [48]:
prob = pulp.LpProblem('NBA_DFS_Daily', LpMaximize)

In [49]:
player_vars = [pulp.LpVariable(f'player_{row.Player}', cat='Binary') for row in df.itertuples()]

In [50]:
prob += pulp.lpSum(player_var for player_var in player_vars) == 8

In [51]:
# position constraints
# TODO fix this, currently won't work
# as it makes the problem infeasible
def get_position_sum(player_vars, df, position):
    return pulp.lpSum([player_vars[i] * (position in df['Roster Position'].iloc[i]) for i in range(len(df))])
    
prob += get_position_sum(player_vars, df, 'PG') <= 3
prob += get_position_sum(player_vars, df, 'PG') >= 1
prob += get_position_sum(player_vars, df, 'SG') <= 3
prob += get_position_sum(player_vars, df, 'SG') >= 1
#prob += get_position_sum(player_vars, df, 'G') == 1
prob += get_position_sum(player_vars, df, 'SF') <= 3
prob += get_position_sum(player_vars, df, 'SF') >= 1
prob += get_position_sum(player_vars, df, 'PF') <= 3
prob += get_position_sum(player_vars, df, 'PF') >= 1
#prob += get_position_sum(player_vars, df, 'F') == 1
prob += get_position_sum(player_vars, df, 'C') <= 2
prob += get_position_sum(player_vars, df, 'C') >= 1
#prob += get_position_sum(player_vars, df, 'UTIL') == 1

In [52]:
# total salary constraint

prob += pulp.lpSum(df['DK Salary'].iloc[i] * player_vars[i] for i in range(len(df))) <= 50000

In [53]:
# finally, specify the goal
prob += pulp.lpSum([df['DK Points'].iloc[i] * player_vars[i] for i in range(len(df))])

In [55]:
# solve and print the status
prob.solve()
print(LpStatus[prob.status])

Optimal

In [56]:
# for each of the player variables, 
total_salary_used = 0
mean_AvgPointsPerGame = 0
for i in range(len(df)):
    if player_vars[i].value() == 1:
        row = df.iloc[i]
        print(row['DK Position'], row.Player, row.Team, row['DK Salary'], row['DK Points'])
        total_salary_used += row['DK Salary']
        mean_AvgPointsPerGame += row['DK Points']
#mean_AvgPointsPerGame /= 9  # divide by total players in roster to get a mean
total_salary_used, mean_AvgPointsPerGame

['SF'] Jimmy Butler MIA 10000.0 49.8
['PG'] Damian Lillard POR 10900.0 53.4
['PF'] LeBron James LAL 12000.0 56.8
['SG'] Desmond Bane MEM 6800.0 34.8
['C'] Rudy Gobert UTA 9500.0 41.8

(49200.0, 236.60000000000002)