In [13]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import shutil
import difflib
import openpyxl

today = date.today()
today = today.strftime("%m.%d.20%y")
today

'01.02.2022'

In [3]:
## DKNG Tiers

contest = "Tiers_"
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
contest_data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/Tiers'

shutil.move(downloads + "/"+ "DKSalaries.csv",
           contest_data_loc + "/"+ "DKSalaries.csv")

os.chdir(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/Tiers")
dkng_file = shutil.copy("DKSalaries.csv", "DKSalaries_"+ contest + str(today)+".csv")
os.remove("DKSalaries.csv")

In [14]:
## Merge

os.chdir(r"C:\Users\vchang\Documents\Fantasy Bball\DFS\Tiers Analysis")
etr = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\ETR_Data\ETR_Daily_' + str(today) + ".xls")
dkng = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\DKNG_Data\Tiers\DKSalaries_Tiers_' + str(today) + ".csv")


final = pd.merge(etr,
                 dkng[['Name','Roster Position']], 
                 left_on = 'Player',
                 right_on='Name',
                 how='left')

final.dropna(subset=['Roster Position'], inplace=True)

final.to_excel("ETR_final_Tiers_"+str(today)+".xlsx", index=False)
os.system("ETR_final_Tiers_"+str(today)+".xlsx")

0

In [6]:
df = final.dropna(subset=['Roster Position'])
df.head()
df1 = df.loc[df.groupby('Roster Position')['DK Points'].idxmax()]
df1

,Player,Team,Opp,Minutes,DK Position,DK Salary,DK Points,DK Value,DK Ceiling,DK Own,DK Slate,Name,Roster Position
0,LeBron James,LAL,MIN,36.0,PG/SF,"12,000",58.8,4.8,69.0,0,MAIN,LeBron James,T1
1,Jaylen Brown,BOS,ORL,36.0,SG/SF,"9,300",48.0,4.8,57.1,0,MAIN,Jaylen Brown,T2
2,Devin Booker,PHX,CHA,36.0,PG/SG,"8,500",44.7,4.7,53.2,0,MAIN,Devin Booker,T3
19,Evan Mobley,CLE,IND,34.5,PF/C,"7,500",35.6,-0.4,42.6,0,MAIN,Evan Mobley,T4
4,Chris Paul,PHX,CHA,33.5,PG,"7,400",39.1,3.5,47.1,0,MAIN,Chris Paul,T5
7,Marcus Smart,BOS,ORL,36.0,PG/SG,"6,400",34.3,2.7,42.3,0,MAIN,Marcus Smart,T6