In [47]:
#import packages and create date

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import *
import shutil
import difflib
from pulp import *
import openpyxl
import glob

#import datetime
today = date.today()
#today = today - datetime.timedelta(days=1)
today = today.strftime("%m.%d.20%y")
today

'03.16.2022'

In [48]:
## DKNG Player Pool

time = "0830_"
contest = "PlayerPool_"
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
contest_data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool'

shutil.move(downloads + "/"+ "DKSalaries.csv",
           contest_data_loc + "/"+ "DKSalaries.csv")

os.chdir(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool")
dkng_file = shutil.copy("DKSalaries.csv", "DKSalaries_"+ contest + str(today)+".csv")
dkng_file = pd.read_csv(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool/DKSalaries.csv")
dkng_file.to_excel(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/DKNG_Data/PlayerPool/DKSalaries_"+ contest + str(today)+".xlsx", index=False)
os.remove("DKSalaries.csv")
os.remove("DKSalaries_"+ contest + str(today)+".csv")

In [49]:
## Uploads
## Uploads
os.chdir(r"C:\Users\vchang\Downloads")

draftkings_upload = r"C:\Users\vchang\Documents\Fantasy Bball\DFS\Upload\DraftKings"

dk_upload = glob.glob('DKEntries.csv')[0]
os.rename(dk_upload, "DK_Upload_"+ contest + str(today)+".csv")

shutil.move(downloads + "/"+ "DK_Upload_"+ contest + str(today)+".csv",
           draftkings_upload + "/"+ "DK_Upload_"+ contest + str(today)+".csv")

'C:\\Users\\vchang\\Documents\\Fantasy Bball\\DFS\\Upload\\DraftKings/DK_Upload_PlayerPool_03.16.2022.csv'

In [50]:
## ETR Daily

# changes the working directory to your downloads folder
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/ETR_Data/DraftKings'
daily_file = "DK NBA Projections.csv"

shutil.move(downloads + "/"+ daily_file,
           data_loc + "/"+ daily_file)

os.chdir(data_loc)

df = pd.read_csv(daily_file)

df.to_excel("ETR_Daily_"+str(today)+".xlsx", index=False)
os.remove("DK NBA Projections.csv")

In [51]:
## Joins the DKNG and ETR Files to include DKNG Positions 
    ## ETR does not include G/F/UTIL

os.chdir(r"C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis")
etr = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\ETR_Data\DraftKings\ETR_Daily_' + str(today) + ".xlsx")
dkng = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\DKNG_Data\PlayerPool\DKSalaries_PlayerPool_' + str(today) + ".xlsx")

## TO DO - check if merge on only DKNG Roster Position Works
df = pd.merge(etr, 
              dkng[['Name','Roster Position', 'Name + ID']], 
              left_on='Player', 
              right_on='Name')

In [52]:
## Unnests Roster Positions into each Row (explode in Python) ##


## Update Salary to INT 
df['DK Salary'] = df['DK Salary'].str.replace(",","").astype(float)

df['Roster Position'] = df['Roster Position'].astype(str)
df['Roster Position'] = df['Roster Position'].str.split('/')

df = df.explode('Roster Position')

df.head()

df.to_csv("DKNG_final_PlayerPool_ETR_"+str(today)+".csv", index=False)
# os.system("DKNG_final_PlayerPool_ETR_"+str(today)+".xlsx")

In [53]:
df.head()

,Player,Team,Opp,Minutes,DK Position,DK Salary,DK Points,DK Value,DK Ceiling,DK Own,DK Slate,Name,Roster Position,Name + ID
0,Giannis Antetokounmpo,MIL,SAC,34.0,SF/PF,11700.0,59.3,6.5,68.0,28.6,MAIN,Giannis Antetokounmpo,SF,Giannis Antetokounmpo (21704689)
0,Giannis Antetokounmpo,MIL,SAC,34.0,SF/PF,11700.0,59.3,6.5,68.0,28.6,MAIN,Giannis Antetokounmpo,PF,Giannis Antetokounmpo (21704689)
0,Giannis Antetokounmpo,MIL,SAC,34.0,SF/PF,11700.0,59.3,6.5,68.0,28.6,MAIN,Giannis Antetokounmpo,F,Giannis Antetokounmpo (21704689)
0,Giannis Antetokounmpo,MIL,SAC,34.0,SF/PF,11700.0,59.3,6.5,68.0,28.6,MAIN,Giannis Antetokounmpo,UTIL,Giannis Antetokounmpo (21704689)
1,Domantas Sabonis,SAC,MIL,34.0,C,9200.0,47.2,4.4,55.6,4.0,MAIN,Domantas Sabonis,C,Domantas Sabonis (21704757)

In [54]:
os.getcwd()

'C:\\Users\\vchang\\Documents\\Fantasy Bball\\DFS\\PlayerPool Analysis'

In [55]:
df = pd.read_csv("DKNG_final_PlayerPool_ETR_"+str(today)+".csv", index_col=['Name + ID', 'Roster Position'], skipinitialspace=True)

legal_assignments = df.index # tuples of (name, pos)
name_set = df.index.unique(0) # a convenience

costs = df['DK Salary'].to_dict()
values = df['DK Points'].to_dict()

# set up LP
draft = pulp.LpVariable.dicts('selected', legal_assignments, cat='Binary')

prob = pulp.LpProblem('the draft', LpMaximize)

#obj
prob += pulp.lpSum([draft[n,p]*values[n,p] for (n,p) in legal_assignments])

#salary cap
prob += pulp.lpSum([draft[n,p]*costs[n,p] for (n, p) in legal_assignments]) <= 50000

# positions
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'PG']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'SG']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'G']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'SF']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'PF']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'F']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'C']) == 1
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'UTIL']) == 1

# use each player at most only once
result = []
for name in name_set:
    prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if n == name]) <= 1

prob.solve()

for idx in draft:
    if draft[idx].varValue > 0:
        print(idx[0], idx[1])
        
        result.append([idx[0], idx[1]])

Giannis Antetokounmpo (21704689) PF
Jrue Holiday (21704590) G
Khris Middleton (21704615) SF
Fred VanVleet (21704685) UTIL
Justin Holiday (21704576) SG
Precious Achiuwa (21704948) C
Otto Porter Jr. (21704660) F
Davion Mitchell (21704888) PG

C:\Users\vchang\Anaconda3\lib\site-packages\pulp\pulp.py:1313: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [56]:
new_list = result
df = pd.DataFrame(new_list)
test = df[[1,0]]
test1 = test.transpose()
test2 = test1.rename(columns=test1.iloc[0])
test3 = test2.drop([1])
df2 = test3[['PG', 'SG','SF', 'PF', 'C', 'G', 'F', 'UTIL']]
df2.to_csv("dkng_result_" + str(today) + ".csv", index=None)
# os.system("dkng_result_" + str(today) + ".csv")

0

In [57]:
df2 = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis\dkng_result_' + str(today) + ".csv")

upload = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\Upload\DraftKings\DK_Upload_PlayerPool_' + str(today) + ".csv"
                      , error_bad_lines=False, engine ='python')

upload = upload[['Entry ID', 'Contest Name', 'Contest ID', 'Entry Fee']]

os.chdir(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\Upload\DraftKings')
result = pd.concat([upload, df2], axis=1)
result.to_csv("DK_Final_Upload_"+ time + str(today)+".csv", index=False)
os.system("DK_Final_Upload_"+ time + str(today)+".csv")

Skipping line 8: Expected 14 fields in line 8, saw 22
Skipping line 9: Expected 14 fields in line 9, saw 22
Skipping line 10: Expected 14 fields in line 10, saw 22
Skipping line 11: Expected 14 fields in line 11, saw 22
Skipping line 12: Expected 14 fields in line 12, saw 22
Skipping line 13: Expected 14 fields in line 13, saw 22
Skipping line 14: Expected 14 fields in line 14, saw 22
Skipping line 15: Expected 14 fields in line 15, saw 22
Skipping line 16: Expected 14 fields in line 16, saw 22
Skipping line 17: Expected 14 fields in line 17, saw 22
Skipping line 18: Expected 14 fields in line 18, saw 22
Skipping line 19: Expected 14 fields in line 19, saw 22
Skipping line 20: Expected 14 fields in line 20, saw 22
Skipping line 21: Expected 14 fields in line 21, saw 22
Skipping line 22: Expected 14 fields in line 22, saw 22
Skipping line 23: Expected 14 fields in line 23, saw 22
Skipping line 24: Expected 14 fields in line 24, saw 22
Skipping line 25: Expected 14 fields in line 25, saw 22
Skipping line 26: Expected 14 fields in line 26, saw 22
Skipping line 27: Expected 14 fields in line 27, saw 22
Skipping line 28: Expected 14 fields in line 28, saw 22
Skipping line 29: Expected 14 fields in line 29, saw 22
Skipping line 30: Expected 14 fields in line 30, saw 22
Skipping line 31: Expected 14 fields in line 31, saw 22
Skipping line 32: Expected 14 fields in line 32, saw 22
Skipping line 33: Expected 14 fields in line 33, saw 22
Skipping line 34: Expected 14 fields in line 34, saw 22
Skipping line 35: Expected 14 fields in line 35, saw 22
Skipping line 36: Expected 14 fields in line 36, saw 22
Skipping line 37: Expected 14 fields in line 37, saw 22
Skipping line 38: Expected 14 fields in line 38, saw 22
Skipping line 39: Expected 14 fields in line 39, saw 22
Skipping line 40: Expected 14 fields in line 40, saw 22
Skipping line 41: Expected 14 fields in line 41, saw 22
Skipping line 42: Expected 14 fields in line 42, saw 22
Skipping line 43: Expected 14 fields in line 43, saw 22
Skipping line 44: Expected 14 fields in line 44, saw 22
Skipping line 45: Expected 14 fields in line 45, saw 22
Skipping line 46: Expected 14 fields in line 46, saw 22
Skipping line 47: Expected 14 fields in line 47, saw 22
Skipping line 48: Expected 14 fields in line 48, saw 22
Skipping line 49: Expected 14 fields in line 49, saw 22
Skipping line 50: Expected 14 fields in line 50, saw 22
Skipping line 51: Expected 14 fields in line 51, saw 22
Skipping line 52: Expected 14 fields in line 52, saw 22
Skipping line 53: Expected 14 fields in line 53, saw 22
Skipping line 54: Expected 14 fields in line 54, saw 22
Skipping line 55: Expected 14 fields in line 55, saw 22
Skipping line 56: Expected 14 fields in line 56, saw 22
Skipping line 57: Expected 14 fields in line 57, saw 22
Skipping line 58: Expected 14 fields in line 58, saw 22
Skipping line 59: Expected 14 fields in line 59, saw 22
Skipping line 60: Expected 14 fields in line 60, saw 22
Skipping line 61: Expected 14 fields in line 61, saw 22
Skipping line 62: Expected 14 fields in line 62, saw 22
Skipping line 63: Expected 14 fields in line 63, saw 22
Skipping line 64: Expected 14 fields in line 64, saw 22
Skipping line 65: Expected 14 fields in line 65, saw 22
Skipping line 66: Expected 14 fields in line 66, saw 22
Skipping line 67: Expected 14 fields in line 67, saw 22
Skipping line 68: Expected 14 fields in line 68, saw 22
Skipping line 69: Expected 14 fields in line 69, saw 22
Skipping line 70: Expected 14 fields in line 70, saw 22
Skipping line 71: Expected 14 fields in line 71, saw 22
Skipping line 72: Expected 14 fields in line 72, saw 22
Skipping line 73: Expected 14 fields in line 73, saw 22
Skipping line 74: Expected 14 fields in line 74, saw 22
Skipping line 75: Expected 14 fields in line 75, saw 22
Skipping line 76: Expected 14 fields in line 76, saw 22
Skipping line 77: Expected 14 fields in line 77, saw 22
Skipping line 78: Expected 14 fields in line 78, saw 22
Skipping line 79: Expected 14 fields in line 79, saw 22
Skipping line 80: Expected 14 fields in line 80, saw 22
Skipping line 81: Expected 14 fields in line 81, saw 22
Skipping line 82: Expected 14 fields in line 82, saw 22
Skipping line 83: Expected 14 fields in line 83, saw 22
Skipping line 84: Expected 14 fields in line 84, saw 22
Skipping line 85: Expected 14 fields in line 85, saw 22
Skipping line 86: Expected 14 fields in line 86, saw 22
Skipping line 87: Expected 14 fields in line 87, saw 22
Skipping line 88: Expected 14 fields in line 88, saw 22
Skipping line 89: Expected 14 fields in line 89, saw 22
Skipping line 90: Expected 14 fields in line 90, saw 22
Skipping line 91: Expected 14 fields in line 91, saw 22
Skipping line 92: Expected 14 fields in line 92, saw 22
Skipping line 93: Expected 14 fields in line 93, saw 22
Skipping line 94: Expected 14 fields in line 94, saw 22
Skipping line 95: Expected 14 fields in line 95, saw 22
Skipping line 96: Expected 14 fields in line 96, saw 22
Skipping line 97: Expected 14 fields in line 97, saw 22
Skipping line 98: Expected 14 fields in line 98, saw 22
Skipping line 99: Expected 14 fields in line 99, saw 22
Skipping line 100: Expected 14 fields in line 100, saw 22
Skipping line 101: Expected 14 fields in line 101, saw 22
Skipping line 102: Expected 14 fields in line 102, saw 22
Skipping line 103: Expected 14 fields in line 103, saw 22
Skipping line 104: Expected 14 fields in line 104, saw 22
Skipping line 105: Expected 14 fields in line 105, saw 22
Skipping line 106: Expected 14 fields in line 106, saw 22
Skipping line 107: Expected 14 fields in line 107, saw 22
Skipping line 108: Expected 14 fields in line 108, saw 22
Skipping line 109: Expected 14 fields in line 109, saw 22
Skipping line 110: Expected 14 fields in line 110, saw 22
Skipping line 111: Expected 14 fields in line 111, saw 22
Skipping line 112: Expected 14 fields in line 112, saw 22
Skipping line 113: Expected 14 fields in line 113, saw 22
Skipping line 114: Expected 14 fields in line 114, saw 22
Skipping line 115: Expected 14 fields in line 115, saw 22
Skipping line 116: Expected 14 fields in line 116, saw 22
Skipping line 117: Expected 14 fields in line 117, saw 22
Skipping line 118: Expected 14 fields in line 118, saw 22
Skipping line 119: Expected 14 fields in line 119, saw 22
Skipping line 120: Expected 14 fields in line 120, saw 22
Skipping line 121: Expected 14 fields in line 121, saw 22
Skipping line 122: Expected 14 fields in line 122, saw 22
Skipping line 123: Expected 14 fields in line 123, saw 22
Skipping line 124: Expected 14 fields in line 124, saw 22
Skipping line 125: Expected 14 fields in line 125, saw 22
Skipping line 126: Expected 14 fields in line 126, saw 22
Skipping line 127: Expected 14 fields in line 127, saw 22
Skipping line 128: Expected 14 fields in line 128, saw 22
Skipping line 129: Expected 14 fields in line 129, saw 22
Skipping line 130: Expected 14 fields in line 130, saw 22
Skipping line 131: Expected 14 fields in line 131, saw 22
Skipping line 132: Expected 14 fields in line 132, saw 22
Skipping line 133: Expected 14 fields in line 133, saw 22
Skipping line 134: Expected 14 fields in line 134, saw 22
Skipping line 135: Expected 14 fields in line 135, saw 22
Skipping line 136: Expected 14 fields in line 136, saw 22
Skipping line 137: Expected 14 fields in line 137, saw 22
Skipping line 138: Expected 14 fields in line 138, saw 22
Skipping line 139: Expected 14 fields in line 139, saw 22
Skipping line 140: Expected 14 fields in line 140, saw 22
Skipping line 141: Expected 14 fields in line 141, saw 22
Skipping line 142: Expected 14 fields in line 142, saw 22
Skipping line 143: Expected 14 fields in line 143, saw 22
Skipping line 144: Expected 14 fields in line 144, saw 22

0

Skipping line 8: Expected 14 fields in line 8, saw 22
Skipping line 9: Expected 14 fields in line 9, saw 22
Skipping line 10: Expected 14 fields in line 10, saw 22
Skipping line 11: Expected 14 fields in line 11, saw 22
Skipping line 12: Expected 14 fields in line 12, saw 22
Skipping line 13: Expected 14 fields in line 13, saw 22
Skipping line 14: Expected 14 fields in line 14, saw 22
Skipping line 15: Expected 14 fields in line 15, saw 22
Skipping line 16: Expected 14 fields in line 16, saw 22
Skipping line 17: Expected 14 fields in line 17, saw 22
Skipping line 18: Expected 14 fields in line 18, saw 22
Skipping line 19: Expected 14 fields in line 19, saw 22
Skipping line 20: Expected 14 fields in line 20, saw 22
Skipping line 21: Expected 14 fields in line 21, saw 22
Skipping line 22: Expected 14 fields in line 22, saw 22
Skipping line 23: Expected 14 fields in line 23, saw 22
Skipping line 24: Expected 14 fields in line 24, saw 22
Skipping line 25: Expected 14 fields in line 25, saw 22
Skipping line 26: Expected 14 fields in line 26, saw 22
Skipping line 27: Expected 14 fields in line 27, saw 22
Skipping line 28: Expected 14 fields in line 28, saw 22
Skipping line 29: Expected 14 fields in line 29, saw 22
Skipping line 30: Expected 14 fields in line 30, saw 22
Skipping line 31: Expected 14 fields in line 31, saw 22
Skipping line 32: Expected 14 fields in line 32, saw 22
Skipping line 33: Expected 14 fields in line 33, saw 22
Skipping line 34: Expected 14 fields in line 34, saw 22
Skipping line 35: Expected 14 fields in line 35, saw 22
Skipping line 36: Expected 14 fields in line 36, saw 22
Skipping line 37: Expected 14 fields in line 37, saw 22
Skipping line 38: Expected 14 fields in line 38, saw 22
Skipping line 39: Expected 14 fields in line 39, saw 22
Skipping line 40: Expected 14 fields in line 40, saw 22
Skipping line 41: Expected 14 fields in line 41, saw 22
Skipping line 42: Expected 14 fields in line 42, saw 22
Skipping line 43: Expected 14 fields in line 43, saw 22
Skipping line 44: Expected 14 fields in line 44, saw 22
Skipping line 45: Expected 14 fields in line 45, saw 22
Skipping line 46: Expected 14 fields in line 46, saw 22
Skipping line 47: Expected 14 fields in line 47, saw 22
Skipping line 48: Expected 14 fields in line 48, saw 22
Skipping line 49: Expected 14 fields in line 49, saw 22
Skipping line 50: Expected 14 fields in line 50, saw 22
Skipping line 51: Expected 14 fields in line 51, saw 22
Skipping line 52: Expected 14 fields in line 52, saw 22
Skipping line 53: Expected 14 fields in line 53, saw 22
Skipping line 54: Expected 14 fields in line 54, saw 22
Skipping line 55: Expected 14 fields in line 55, saw 22
Skipping line 56: Expected 14 fields in line 56, saw 22
Skipping line 57: Expected 14 fields in line 57, saw 22
Skipping line 58: Expected 14 fields in line 58, saw 22
Skipping line 59: Expected 14 fields in line 59, saw 22
Skipping line 60: Expected 14 fields in line 60, saw 22
Skipping line 61: Expected 14 fields in line 61, saw 22
Skipping line 62: Expected 14 fields in line 62, saw 22
Skipping line 63: Expected 14 fields in line 63, saw 22
Skipping line 64: Expected 14 fields in line 64, saw 22
Skipping line 65: Expected 14 fields in line 65, saw 22
Skipping line 66: Expected 14 fields in line 66, saw 22
Skipping line 67: Expected 14 fields in line 67, saw 22
Skipping line 68: Expected 14 fields in line 68, saw 22
Skipping line 69: Expected 14 fields in line 69, saw 22
Skipping line 70: Expected 14 fields in line 70, saw 22
Skipping line 71: Expected 14 fields in line 71, saw 22
Skipping line 72: Expected 14 fields in line 72, saw 22
Skipping line 73: Expected 14 fields in line 73, saw 22
Skipping line 74: Expected 14 fields in line 74, saw 22
Skipping line 75: Expected 14 fields in line 75, saw 22
Skipping line 76: Expected 14 fields in line 76, saw 22
Skipping line 77: Expected 14 fields in line 77, saw 22
Skipping line 78: Expected 14 fields in line 78, saw 22
Skipping line 79: Expected 14 fields in line 79, saw 22
Skipping line 80: Expected 14 fields in line 80, saw 22
Skipping line 81: Expected 14 fields in line 81, saw 22
Skipping line 82: Expected 14 fields in line 82, saw 22
Skipping line 83: Expected 14 fields in line 83, saw 22
Skipping line 84: Expected 14 fields in line 84, saw 22
Skipping line 85: Expected 14 fields in line 85, saw 22
Skipping line 86: Expected 14 fields in line 86, saw 22
Skipping line 87: Expected 14 fields in line 87, saw 22
Skipping line 88: Expected 14 fields in line 88, saw 22
Skipping line 89: Expected 14 fields in line 89, saw 22
Skipping line 90: Expected 14 fields in line 90, saw 22
Skipping line 91: Expected 14 fields in line 91, saw 22
Skipping line 92: Expected 14 fields in line 92, saw 22
Skipping line 93: Expected 14 fields in line 93, saw 22
Skipping line 94: Expected 14 fields in line 94, saw 22
Skipping line 95: Expected 14 fields in line 95, saw 22
Skipping line 96: Expected 14 fields in line 96, saw 22
Skipping line 97: Expected 14 fields in line 97, saw 22
Skipping line 98: Expected 14 fields in line 98, saw 22
Skipping line 99: Expected 14 fields in line 99, saw 22
Skipping line 100: Expected 14 fields in line 100, saw 22
Skipping line 101: Expected 14 fields in line 101, saw 22
Skipping line 102: Expected 14 fields in line 102, saw 22
Skipping line 103: Expected 14 fields in line 103, saw 22
Skipping line 104: Expected 14 fields in line 104, saw 22

,Entry ID,Contest Name,Contest ID,Entry Fee,PG,SG,SF,PF,C,G,F,UTIL,Unnamed: 12,Instructions
0,3.160099e+09,NBA $2 50-50 (Turbo),124790434.0,$2,Jordan Clarkson (21704245),Tre Mann (21704513),Devin Vassell (21704458),Royce O'Neale (21704270),Jakob Poeltl (21704323),Donovan Mitchell (21704330),Rudy Gay (21704221),Shai Gilgeous-Alexander (21704448),NaN,1. Column A lists all of your contest entries ...
1,3.160089e+09,NBA $625 And-One [20 Entry Max] (Turbo),124818734.0,$1,Jordan Clarkson (21704245),Tre Mann (21704513),Devin Vassell (21704458),Royce O'Neale (21704270),Jakob Poeltl (21704323),Donovan Mitchell (21704330),Rudy Gay (21704221),Shai Gilgeous-Alexander (21704448),NaN,2. Your current lineup is listed next to each ...
2,3.160089e+09,NBA $1 Triple Up [Top 9 Win $3] (Turbo),124818876.0,$1,Jordan Clarkson (21704245),Tre Mann (21704513),Devin Vassell (21704458),Royce O'Neale (21704270),Jakob Poeltl (21704323),Donovan Mitchell (21704330),Rudy Gay (21704221),Shai Gilgeous-Alexander (21704448),NaN,3. You can change the lineup for an entry by e...
3,3.160089e+09,NBA $1 Double Up (Turbo),124829899.0,$1,Jordan Clarkson (21704245),Tre Mann (21704513),Devin Vassell (21704458),Royce O'Neale (21704270),Jakob Poeltl (21704323),Donovan Mitchell (21704330),Rudy Gay (21704221),Shai Gilgeous-Alexander (21704448),NaN,4. Use data from the Name+ID column or the ID ...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5. For faster processing only include entries ...

,Entry ID,Contest Name,Contest ID,Entry Fee
0,3.160099e+09,NBA $2 50-50 (Turbo),124790434.0,$2
1,3.160089e+09,NBA $625 And-One [20 Entry Max] (Turbo),124818734.0,$1
2,3.160089e+09,NBA $1 Triple Up [Top 9 Win $3] (Turbo),124818876.0,$1
3,3.160089e+09,NBA $1 Double Up (Turbo),124829899.0,$1
4,NaN,NaN,NaN,NaN