In [12]:
#import packages and create date

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import shutil
import difflib
from pulp import *
import openpyxl
import glob

from datetime import *
today = date.today()
today = today.strftime("%m.%d.20%y")
today

time = "7pm_"
# import datetime
# today = date.today()
# today = today - datetime.timedelta(days=1)
# today = today.strftime("%m.%d.20%y")
# today

In [13]:
## FanDuel Player Pool



contest = "PlayerPool_"
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
contest_data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/FD_Data/PlayerPool'

# fd = glob.glob('*-players-list.csv')[0]

fd_upload = glob.glob('*upload-template.csv')[0]
df = pd.read_csv(fd_upload, header=6, usecols=[13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,30])
df.to_csv("FDSalaries_"+ contest + str(today)+".csv", index=False)
# os.rename(fd, "FDSalaries_"+ contest + str(today)+".csv")

shutil.move(downloads + "/"+ "FDSalaries_"+ contest + str(today)+".csv",
           contest_data_loc + "/"+ "FDSalaries_"+ contest + str(today)+".csv")

os.chdir(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/FD_Data/PlayerPool")
fanduel_file = pd.read_csv(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/FD_Data/PlayerPool/FDSalaries_"+ contest + str(today)+".csv")
fanduel_file.to_excel(r"C:/Users/vchang/Documents/Fantasy Bball/DFS/FD_Data/PlayerPool/FDSalaries_"+ contest + str(today)+".xlsx", index=False)
os.remove("FDSalaries_"+ contest + str(today)+".csv")

In [14]:
## Uploads
os.chdir(r"C:\Users\vchang\Downloads")

fanduel_upload = r"C:\Users\vchang\Documents\Fantasy Bball\DFS\Upload\FanDuel"

fd_upload = glob.glob('*upload-template.csv')[0]
os.rename(fd_upload, "FD_Upload_"+ contest + str(today)+".csv")

shutil.move(downloads + "/"+ "FD_Upload_"+ contest + str(today)+".csv",
           fanduel_upload + "/"+ "FD_Upload_"+ contest + str(today)+".csv")

'C:\\Users\\vchang\\Documents\\Fantasy Bball\\DFS\\Upload\\FanDuel/FD_Upload_PlayerPool_03.18.2022.csv'

In [15]:
## ETR Daily

# changes the working directory to your downloads folder
os.chdir(r"C:\Users\vchang\Downloads")

downloads = r'C:/Users/vchang/Downloads'
data_loc = r'C:/Users/vchang/Documents/Fantasy Bball/DFS/ETR_Data/FanDuel'
daily_file = "FD NBA Projections.csv"

shutil.move(downloads + "/"+ daily_file,
           data_loc + "/"+ daily_file)

os.chdir(data_loc)

df = pd.read_csv(daily_file)

df.to_excel("ETR_Daily_"+str(today)+".xlsx", index=False)
os.remove("FD NBA Projections.csv")

In [16]:
## Joins the FD and ETR Files to include FD Positions 
    ## ETR does not include G/F/UTIL

os.chdir(r"C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis")
etr = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\ETR_Data\FanDuel\ETR_Daily_' + str(today) + ".xlsx")
fd = pd.read_excel(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\FD_Data\PlayerPool\FDSalaries_PlayerPool_' + str(today) + ".xlsx")

## TO DO - check if merge on only DKNG Roster Position Works
df = pd.merge(etr, 
              fd[['Nickname','Position', 'Id', 'Salary']], 
              left_on='Player', 
              right_on='Nickname')

In [17]:
df.head()

,Player,Team,Opp,Minutes,FD Position,FD Salary,FD Points,FD Value,FDCeiling,FD Own,FD Slate,Nickname,Position,Id,Salary
0,Jordan Clarkson,UTA,LAC,34.5,PG/SG,"5,000",34.3,9.3,43.2,65.8,MAIN,Jordan Clarkson,PG/SG,73111-20640,5000
1,Fred VanVleet,TOR,LAL,37.0,PG,"7,200",42.2,8.4,51.8,30.2,MAIN,Fred VanVleet,PG,73111-24247,7200
2,Nikola Jokic,DEN,CLE,34.0,C,"11,200",57.1,7.3,66.7,9.4,MAIN,Nikola Jokic,C,73111-55062,11200
3,CJ McCollum,NOP,SAS,36.0,SG,"8,700",47.1,7.3,54.9,14.6,MAIN,CJ McCollum,SG,73111-19067,8700
4,Julius Randle,NYK,WAS,36.0,PF/C,"8,600",45.5,6.1,54.5,24.2,MAIN,Julius Randle,PF/C,73111-42669,8600

In [18]:
# Add 'G' Column
# Add 'F' Column
df['G Position'] = np.where(df['FD Position'].str.contains("G"), 'G', "")
df['F Position'] = np.where(df['FD Position'].str.contains("F"), 'F', "")

df['G Position'] = df['G Position'].replace('', np.nan, regex=True)
df['F Position'] = df['F Position'].replace('', np.nan, regex=True)

df['list'] = df[['FD Position', 'G Position', 'F Position']].apply(lambda x: '/'.join(x.dropna()), axis=1)

# ## Update Salary to INT 
# df['FD Salary'] = df['FD Salary'].str.replace(",","").astype(float)

df['Name + ID'] = df['Id'] + ":" + df['Player']

df.head()

,Player,Team,Opp,Minutes,FD Position,FD Salary,FD Points,FD Value,FDCeiling,FD Own,FD Slate,Nickname,Position,Id,Salary,G Position,F Position,list,Name + ID
0,Jordan Clarkson,UTA,LAC,34.5,PG/SG,"5,000",34.3,9.3,43.2,65.8,MAIN,Jordan Clarkson,PG/SG,73111-20640,5000,G,NaN,PG/SG/G,73111-20640:Jordan Clarkson
1,Fred VanVleet,TOR,LAL,37.0,PG,"7,200",42.2,8.4,51.8,30.2,MAIN,Fred VanVleet,PG,73111-24247,7200,G,NaN,PG/G,73111-24247:Fred VanVleet
2,Nikola Jokic,DEN,CLE,34.0,C,"11,200",57.1,7.3,66.7,9.4,MAIN,Nikola Jokic,C,73111-55062,11200,NaN,NaN,C,73111-55062:Nikola Jokic
3,CJ McCollum,NOP,SAS,36.0,SG,"8,700",47.1,7.3,54.9,14.6,MAIN,CJ McCollum,SG,73111-19067,8700,G,NaN,SG/G,73111-19067:CJ McCollum
4,Julius Randle,NYK,WAS,36.0,PF/C,"8,600",45.5,6.1,54.5,24.2,MAIN,Julius Randle,PF/C,73111-42669,8600,NaN,F,PF/C/F,73111-42669:Julius Randle

In [19]:
df.to_csv("FD_final_PlayerPool_ETR_"+str(today)+".csv", index=False)

df = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis\FD_final_PlayerPool_ETR_'+ str(today) + ".csv")

df.head()

,Player,Team,Opp,Minutes,FD Position,FD Salary,FD Points,FD Value,FDCeiling,FD Own,FD Slate,Nickname,Position,Id,Salary,G Position,F Position,list,Name + ID
0,Jordan Clarkson,UTA,LAC,34.5,PG/SG,"5,000",34.3,9.3,43.2,65.8,MAIN,Jordan Clarkson,PG/SG,73111-20640,5000,G,NaN,PG/SG/G,73111-20640:Jordan Clarkson
1,Fred VanVleet,TOR,LAL,37.0,PG,"7,200",42.2,8.4,51.8,30.2,MAIN,Fred VanVleet,PG,73111-24247,7200,G,NaN,PG/G,73111-24247:Fred VanVleet
2,Nikola Jokic,DEN,CLE,34.0,C,"11,200",57.1,7.3,66.7,9.4,MAIN,Nikola Jokic,C,73111-55062,11200,NaN,NaN,C,73111-55062:Nikola Jokic
3,CJ McCollum,NOP,SAS,36.0,SG,"8,700",47.1,7.3,54.9,14.6,MAIN,CJ McCollum,SG,73111-19067,8700,G,NaN,SG/G,73111-19067:CJ McCollum
4,Julius Randle,NYK,WAS,36.0,PF/C,"8,600",45.5,6.1,54.5,24.2,MAIN,Julius Randle,PF/C,73111-42669,8600,NaN,F,PF/C/F,73111-42669:Julius Randle

# Create the Constraint Problem

Goal: Maximize FD Points

- Total Players = 9
- TotalSalary <= 60000
- TotalPosition_PG = 2
- TotalPosition_SG = 2
- TotalPosition_SF = 2
- TotalPosition_PF =2 
- TotalPosition_C =1

In [20]:
## Unnests FD Positions into each Row (explode in Python) ##


## Update Salary to INT 
# df['DK Salary'] = df['DK Salary'].str.replace(",","").astype(float)

df['FD Position'] = df['FD Position'].astype(str)
df['FD Position'] = df['FD Position'].str.split('/')

df = df.explode('FD Position')

df['Position + Id'] = df['FD Position'] + "_" + df['Id']

df.head()

df.to_csv("FD_final_PlayerPool_ETR_"+str(today)+".csv", index=False)
# os.system("DKNG_final_PlayerPool_ETR_"+str(today)+".xlsx")

In [21]:
df.head()

,Player,Team,Opp,Minutes,FD Position,FD Salary,FD Points,FD Value,FDCeiling,FD Own,FD Slate,Nickname,Position,Id,Salary,G Position,F Position,list,Name + ID,Position + Id
0,Jordan Clarkson,UTA,LAC,34.5,PG,"5,000",34.3,9.3,43.2,65.8,MAIN,Jordan Clarkson,PG/SG,73111-20640,5000,G,NaN,PG/SG/G,73111-20640:Jordan Clarkson,PG_73111-20640
0,Jordan Clarkson,UTA,LAC,34.5,SG,"5,000",34.3,9.3,43.2,65.8,MAIN,Jordan Clarkson,PG/SG,73111-20640,5000,G,NaN,PG/SG/G,73111-20640:Jordan Clarkson,SG_73111-20640
1,Fred VanVleet,TOR,LAL,37.0,PG,"7,200",42.2,8.4,51.8,30.2,MAIN,Fred VanVleet,PG,73111-24247,7200,G,NaN,PG/G,73111-24247:Fred VanVleet,PG_73111-24247
2,Nikola Jokic,DEN,CLE,34.0,C,"11,200",57.1,7.3,66.7,9.4,MAIN,Nikola Jokic,C,73111-55062,11200,NaN,NaN,C,73111-55062:Nikola Jokic,C_73111-55062
3,CJ McCollum,NOP,SAS,36.0,SG,"8,700",47.1,7.3,54.9,14.6,MAIN,CJ McCollum,SG,73111-19067,8700,G,NaN,SG/G,73111-19067:CJ McCollum,SG_73111-19067

In [22]:
df = pd.read_csv("FD_final_PlayerPool_ETR_"+str(today)+".csv", index_col=['Id', 'FD Position'], skipinitialspace=True)

legal_assignments = df.index # tuples of (name, pos)
name_set = df.index.unique(0) # a convenience

costs = df['Salary'].to_dict()
values = df['FD Points'].to_dict()

# set up LP
draft = pulp.LpVariable.dicts('selected', legal_assignments, cat='Binary')

prob = pulp.LpProblem('the draft', LpMaximize)

#obj
prob += pulp.lpSum([draft[n,p]*values[n,p] for (n,p) in legal_assignments])

#salary cap
prob += pulp.lpSum([draft[n,p]*costs[n,p] for (n, p) in legal_assignments]) <= 60000

# positions
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'PG']) == 2
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'SG']) == 2
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'SF']) == 2
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'PF']) == 2
prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if p == 'C']) == 1

# use each player at most only once
result = []
for name in name_set:
    prob += pulp.lpSum([draft[n, p] for (n, p) in legal_assignments if n == name]) <= 1

prob.solve()

for idx in draft:
    if draft[idx].varValue > 0:
        print(idx[0], idx[1])
        
        result.append([idx[0], idx[1]])

C:\Users\vchang\Anaconda3\lib\site-packages\pulp\pulp.py:1313: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

73111-20640 SG
73111-24247 PG
73111-19067 SG
73111-42669 PF
73111-110357 SF
73111-40203 C
73111-9535 PG
73111-84708 PF
73111-110356 SF

In [24]:
new_list = result
df = pd.DataFrame(new_list)
test = df[[1,0]]

# Create a lookup variable for [Position + Id]
test['lookup'] = test[1] + "_" + test[0]


# Merge PuLP output on [Position + Id] to pull in Player Name
df = pd.read_csv("FD_final_PlayerPool_ETR_"+str(today)+".csv")
upload = pd.merge(test,
                 df[['Player', 'Position + Id', 'Name + ID']],
                 left_on = 'lookup',
                 right_on = 'Position + Id')


# Drop all columns not used in upload
upload2 = upload.drop([0, 'lookup', 'Player', 'Position + Id'], axis = 1)


# Transpose data output from vertical to horizontal
upload3 = upload2.transpose()


# Rename columns to first row (position values)
upload4 = upload3.rename(columns=upload3.iloc[0])


# Drop duplicate first row
upload5 = upload4.drop([1])


# Re-order the columns to the Spositions
upload6 = upload5[['PG',
                   'SG',
                   'SF',
                   'PF',
                   'C']]


# Save as a csv
upload6.to_csv("fd_result_" + str(today) + ".csv", index=None)

# os.system("fd_result_" + str(today) + ".csv")

upload6

C:\Users\vchang\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PG,PG,SG,SG,SF,SF,PF,PF,C
Name + ID,73111-24247:Fred VanVleet,73111-9535:Kyle Lowry,73111-20640:Jordan Clarkson,73111-19067:CJ McCollum,73111-110357:RJ Barrett,73111-110356:Nickeil Alexander-Walker,73111-42669:Julius Randle,73111-84708:Robert Williams,73111-40203:Rudy Gobert

In [25]:
upload6 = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\PlayerPool Analysis\fd_result_' + str(today) + ".csv")
upload6.head()


upload = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\Upload\FanDuel\FD_Upload_PlayerPool_' + str(today) + ".csv"
                     , error_bad_lines=False, engine ='python')


upload = upload[['entry_id', 'contest_id', 'contest_name']]
upload.head()

os.chdir(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\Upload\FanDuel')
result = pd.concat([upload, upload6], axis=1)
test = result.rename(columns={"PG.1":"PG", "SG.1":"SG", "SF.1":"SF", "PF.1":"PF"})
result.to_csv("FD_Final_Upload_"+ time + str(today)+".csv", index=False)
os.system("FD_Final_Upload_"+ time + str(today)+".csv")

Skipping line 7: Expected 14 fields in line 7, saw 31
Skipping line 8: Expected 14 fields in line 8, saw 31
Skipping line 9: Expected 14 fields in line 9, saw 31
Skipping line 10: Expected 14 fields in line 10, saw 31
Skipping line 11: Expected 14 fields in line 11, saw 31
Skipping line 12: Expected 14 fields in line 12, saw 31
Skipping line 13: Expected 14 fields in line 13, saw 31
Skipping line 14: Expected 14 fields in line 14, saw 31
Skipping line 15: Expected 14 fields in line 15, saw 31
Skipping line 16: Expected 14 fields in line 16, saw 31
Skipping line 17: Expected 14 fields in line 17, saw 31
Skipping line 18: Expected 14 fields in line 18, saw 31
Skipping line 19: Expected 14 fields in line 19, saw 31
Skipping line 20: Expected 14 fields in line 20, saw 31
Skipping line 21: Expected 14 fields in line 21, saw 31
Skipping line 22: Expected 14 fields in line 22, saw 31
Skipping line 23: Expected 14 fields in line 23, saw 31
Skipping line 24: Expected 14 fields in line 24, saw 31
Skipping line 25: Expected 14 fields in line 25, saw 31
Skipping line 26: Expected 14 fields in line 26, saw 31
Skipping line 27: Expected 14 fields in line 27, saw 31
Skipping line 28: Expected 14 fields in line 28, saw 31
Skipping line 29: Expected 14 fields in line 29, saw 31
Skipping line 30: Expected 14 fields in line 30, saw 31
Skipping line 31: Expected 14 fields in line 31, saw 31
Skipping line 32: Expected 14 fields in line 32, saw 31
Skipping line 33: Expected 14 fields in line 33, saw 31
Skipping line 34: Expected 14 fields in line 34, saw 31
Skipping line 35: Expected 14 fields in line 35, saw 31
Skipping line 36: Expected 14 fields in line 36, saw 31
Skipping line 37: Expected 14 fields in line 37, saw 31
Skipping line 38: Expected 14 fields in line 38, saw 31
Skipping line 39: Expected 14 fields in line 39, saw 31
Skipping line 40: Expected 14 fields in line 40, saw 31
Skipping line 41: Expected 14 fields in line 41, saw 31
Skipping line 42: Expected 14 fields in line 42, saw 31
Skipping line 43: Expected 14 fields in line 43, saw 31
Skipping line 44: Expected 14 fields in line 44, saw 31
Skipping line 45: Expected 14 fields in line 45, saw 31
Skipping line 46: Expected 14 fields in line 46, saw 31
Skipping line 47: Expected 14 fields in line 47, saw 31
Skipping line 48: Expected 14 fields in line 48, saw 31
Skipping line 49: Expected 14 fields in line 49, saw 31
Skipping line 50: Expected 14 fields in line 50, saw 31
Skipping line 51: Expected 14 fields in line 51, saw 31
Skipping line 52: Expected 14 fields in line 52, saw 31
Skipping line 53: Expected 14 fields in line 53, saw 31
Skipping line 54: Expected 14 fields in line 54, saw 31
Skipping line 55: Expected 14 fields in line 55, saw 31
Skipping line 56: Expected 14 fields in line 56, saw 31
Skipping line 57: Expected 14 fields in line 57, saw 31
Skipping line 58: Expected 14 fields in line 58, saw 31
Skipping line 59: Expected 14 fields in line 59, saw 31
Skipping line 60: Expected 14 fields in line 60, saw 31
Skipping line 61: Expected 14 fields in line 61, saw 31
Skipping line 62: Expected 14 fields in line 62, saw 31
Skipping line 63: Expected 14 fields in line 63, saw 31
Skipping line 64: Expected 14 fields in line 64, saw 31
Skipping line 65: Expected 14 fields in line 65, saw 31
Skipping line 66: Expected 14 fields in line 66, saw 31
Skipping line 67: Expected 14 fields in line 67, saw 31
Skipping line 68: Expected 14 fields in line 68, saw 31
Skipping line 69: Expected 14 fields in line 69, saw 31
Skipping line 70: Expected 14 fields in line 70, saw 31
Skipping line 71: Expected 14 fields in line 71, saw 31
Skipping line 72: Expected 14 fields in line 72, saw 31
Skipping line 73: Expected 14 fields in line 73, saw 31
Skipping line 74: Expected 14 fields in line 74, saw 31
Skipping line 75: Expected 14 fields in line 75, saw 31
Skipping line 76: Expected 14 fields in line 76, saw 31
Skipping line 77: Expected 14 fields in line 77, saw 31
Skipping line 78: Expected 14 fields in line 78, saw 31
Skipping line 79: Expected 14 fields in line 79, saw 31
Skipping line 80: Expected 14 fields in line 80, saw 31
Skipping line 81: Expected 14 fields in line 81, saw 31
Skipping line 82: Expected 14 fields in line 82, saw 31
Skipping line 83: Expected 14 fields in line 83, saw 31
Skipping line 84: Expected 14 fields in line 84, saw 31
Skipping line 85: Expected 14 fields in line 85, saw 31
Skipping line 86: Expected 14 fields in line 86, saw 31
Skipping line 87: Expected 14 fields in line 87, saw 31
Skipping line 88: Expected 14 fields in line 88, saw 31
Skipping line 89: Expected 14 fields in line 89, saw 31
Skipping line 90: Expected 14 fields in line 90, saw 31
Skipping line 91: Expected 14 fields in line 91, saw 31
Skipping line 92: Expected 14 fields in line 92, saw 31
Skipping line 93: Expected 14 fields in line 93, saw 31
Skipping line 94: Expected 14 fields in line 94, saw 31
Skipping line 95: Expected 14 fields in line 95, saw 31
Skipping line 96: Expected 14 fields in line 96, saw 31
Skipping line 97: Expected 14 fields in line 97, saw 31
Skipping line 98: Expected 14 fields in line 98, saw 31
Skipping line 99: Expected 14 fields in line 99, saw 31
Skipping line 100: Expected 14 fields in line 100, saw 31
Skipping line 101: Expected 14 fields in line 101, saw 31
Skipping line 102: Expected 14 fields in line 102, saw 31
Skipping line 103: Expected 14 fields in line 103, saw 31
Skipping line 104: Expected 14 fields in line 104, saw 31
Skipping line 105: Expected 14 fields in line 105, saw 31
Skipping line 106: Expected 14 fields in line 106, saw 31
Skipping line 107: Expected 14 fields in line 107, saw 31
Skipping line 108: Expected 14 fields in line 108, saw 31
Skipping line 109: Expected 14 fields in line 109, saw 31
Skipping line 110: Expected 14 fields in line 110, saw 31
Skipping line 111: Expected 14 fields in line 111, saw 31
Skipping line 112: Expected 14 fields in line 112, saw 31
Skipping line 113: Expected 14 fields in line 113, saw 31
Skipping line 114: Expected 14 fields in line 114, saw 31
Skipping line 115: Expected 14 fields in line 115, saw 31
Skipping line 116: Expected 14 fields in line 116, saw 31
Skipping line 117: Expected 14 fields in line 117, saw 31
Skipping line 118: Expected 14 fields in line 118, saw 31
Skipping line 119: Expected 14 fields in line 119, saw 31
Skipping line 120: Expected 14 fields in line 120, saw 31
Skipping line 121: Expected 14 fields in line 121, saw 31
Skipping line 122: Expected 14 fields in line 122, saw 31
Skipping line 123: Expected 14 fields in line 123, saw 31
Skipping line 124: Expected 14 fields in line 124, saw 31
Skipping line 125: Expected 14 fields in line 125, saw 31
Skipping line 126: Expected 14 fields in line 126, saw 31
Skipping line 127: Expected 14 fields in line 127, saw 31
Skipping line 128: Expected 14 fields in line 128, saw 31
Skipping line 129: Expected 14 fields in line 129, saw 31
Skipping line 130: Expected 14 fields in line 130, saw 31
Skipping line 131: Expected 14 fields in line 131, saw 31
Skipping line 132: Expected 14 fields in line 132, saw 31
Skipping line 133: Expected 14 fields in line 133, saw 31
Skipping line 134: Expected 14 fields in line 134, saw 31
Skipping line 135: Expected 14 fields in line 135, saw 31
Skipping line 136: Expected 14 fields in line 136, saw 31
Skipping line 137: Expected 14 fields in line 137, saw 31
Skipping line 138: Expected 14 fields in line 138, saw 31
Skipping line 139: Expected 14 fields in line 139, saw 31
Skipping line 140: Expected 14 fields in line 140, saw 31
Skipping line 141: Expected 14 fields in line 141, saw 31
Skipping line 142: Expected 14 fields in line 142, saw 31
Skipping line 143: Expected 14 fields in line 143, saw 31
Skipping line 144: Expected 14 fields in line 144, saw 31
Skipping line 145: Expected 14 fields in line 145, saw 31
Skipping line 146: Expected 14 fields in line 146, saw 31
Skipping line 147: Expected 14 fields in line 147, saw 31
Skipping line 148: Expected 14 fields in line 148, saw 31
Skipping line 149: Expected 14 fields in line 149, saw 31
Skipping line 150: Expected 14 fields in line 150, saw 31
Skipping line 151: Expected 14 fields in line 151, saw 31
Skipping line 152: Expected 14 fields in line 152, saw 31
Skipping line 153: Expected 14 fields in line 153, saw 31
Skipping line 154: Expected 14 fields in line 154, saw 31
Skipping line 155: Expected 14 fields in line 155, saw 31
Skipping line 156: Expected 14 fields in line 156, saw 31
Skipping line 157: Expected 14 fields in line 157, saw 31
Skipping line 158: Expected 14 fields in line 158, saw 31
Skipping line 159: Expected 14 fields in line 159, saw 31
Skipping line 160: Expected 14 fields in line 160, saw 31
Skipping line 161: Expected 14 fields in line 161, saw 31
Skipping line 162: Expected 14 fields in line 162, saw 31
Skipping line 163: Expected 14 fields in line 163, saw 31
Skipping line 164: Expected 14 fields in line 164, saw 31
Skipping line 165: Expected 14 fields in line 165, saw 31
Skipping line 166: Expected 14 fields in line 166, saw 31
Skipping line 167: Expected 14 fields in line 167, saw 31
Skipping line 168: Expected 14 fields in line 168, saw 31
Skipping line 169: Expected 14 fields in line 169, saw 31
Skipping line 170: Expected 14 fields in line 170, saw 31
Skipping line 171: Expected 14 fields in line 171, saw 31
Skipping line 172: Expected 14 fields in line 172, saw 31
Skipping line 173: Expected 14 fields in line 173, saw 31
Skipping line 174: Expected 14 fields in line 174, saw 31
Skipping line 175: Expected 14 fields in line 175, saw 31
Skipping line 176: Expected 14 fields in line 176, saw 31
Skipping line 177: Expected 14 fields in line 177, saw 31
Skipping line 178: Expected 14 fields in line 178, saw 31
Skipping line 179: Expected 14 fields in line 179, saw 31
Skipping line 180: Expected 14 fields in line 180, saw 31
Skipping line 181: Expected 14 fields in line 181, saw 31
Skipping line 182: Expected 14 fields in line 182, saw 31
Skipping line 183: Expected 14 fields in line 183, saw 31
Skipping line 184: Expected 14 fields in line 184, saw 31
Skipping line 185: Expected 14 fields in line 185, saw 31
Skipping line 186: Expected 14 fields in line 186, saw 31
Skipping line 187: Expected 14 fields in line 187, saw 31
Skipping line 188: Expected 14 fields in line 188, saw 31
Skipping line 189: Expected 14 fields in line 189, saw 31
Skipping line 190: Expected 14 fields in line 190, saw 31
Skipping line 191: Expected 14 fields in line 191, saw 31
Skipping line 192: Expected 14 fields in line 192, saw 31
Skipping line 193: Expected 14 fields in line 193, saw 31
Skipping line 194: Expected 14 fields in line 194, saw 31
Skipping line 195: Expected 14 fields in line 195, saw 31
Skipping line 196: Expected 14 fields in line 196, saw 31
Skipping line 197: Expected 14 fields in line 197, saw 31
Skipping line 198: Expected 14 fields in line 198, saw 31
Skipping line 199: Expected 14 fields in line 199, saw 31
Skipping line 200: Expected 14 fields in line 200, saw 31
Skipping line 201: Expected 14 fields in line 201, saw 31
Skipping line 202: Expected 14 fields in line 202, saw 31
Skipping line 203: Expected 14 fields in line 203, saw 31
Skipping line 204: Expected 14 fields in line 204, saw 31
Skipping line 205: Expected 14 fields in line 205, saw 31
Skipping line 206: Expected 14 fields in line 206, saw 31
Skipping line 207: Expected 14 fields in line 207, saw 31
Skipping line 208: Expected 14 fields in line 208, saw 31
Skipping line 209: Expected 14 fields in line 209, saw 31
Skipping line 210: Expected 14 fields in line 210, saw 31
Skipping line 211: Expected 14 fields in line 211, saw 31
Skipping line 212: Expected 14 fields in line 212, saw 31
Skipping line 213: Expected 14 fields in line 213, saw 31
Skipping line 214: Expected 14 fields in line 214, saw 31
Skipping line 215: Expected 14 fields in line 215, saw 31
Skipping line 216: Expected 14 fields in line 216, saw 31
Skipping line 217: Expected 14 fields in line 217, saw 31
Skipping line 218: Expected 14 fields in line 218, saw 31
Skipping line 219: Expected 14 fields in line 219, saw 31
Skipping line 220: Expected 14 fields in line 220, saw 31
Skipping line 221: Expected 14 fields in line 221, saw 31
Skipping line 222: Expected 14 fields in line 222, saw 31
Skipping line 223: Expected 14 fields in line 223, saw 31
Skipping line 224: Expected 14 fields in line 224, saw 31
Skipping line 225: Expected 14 fields in line 225, saw 31
Skipping line 226: Expected 14 fields in line 226, saw 31
Skipping line 227: Expected 14 fields in line 227, saw 31
Skipping line 228: Expected 14 fields in line 228, saw 31
Skipping line 229: Expected 14 fields in line 229, saw 31
Skipping line 230: Expected 14 fields in line 230, saw 31
Skipping line 231: Expected 14 fields in line 231, saw 31
Skipping line 232: Expected 14 fields in line 232, saw 31
Skipping line 233: Expected 14 fields in line 233, saw 31
Skipping line 234: Expected 14 fields in line 234, saw 31
Skipping line 235: Expected 14 fields in line 235, saw 31
Skipping line 236: Expected 14 fields in line 236, saw 31
Skipping line 237: Expected 14 fields in line 237, saw 31
Skipping line 238: Expected 14 fields in line 238, saw 31
Skipping line 239: Expected 14 fields in line 239, saw 31
Skipping line 240: Expected 14 fields in line 240, saw 31
Skipping line 241: Expected 14 fields in line 241, saw 31
Skipping line 242: Expected 14 fields in line 242, saw 31
Skipping line 243: Expected 14 fields in line 243, saw 31
Skipping line 244: Expected 14 fields in line 244, saw 31
Skipping line 245: Expected 14 fields in line 245, saw 31
Skipping line 246: Expected 14 fields in line 246, saw 31
Skipping line 247: Expected 14 fields in line 247, saw 31
Skipping line 248: Expected 14 fields in line 248, saw 31
Skipping line 249: Expected 14 fields in line 249, saw 31
Skipping line 250: Expected 14 fields in line 250, saw 31
Skipping line 251: Expected 14 fields in line 251, saw 31
Skipping line 252: Expected 14 fields in line 252, saw 31
Skipping line 253: Expected 14 fields in line 253, saw 31
Skipping line 254: Expected 14 fields in line 254, saw 31
Skipping line 255: Expected 14 fields in line 255, saw 31
Skipping line 256: Expected 14 fields in line 256, saw 31
Skipping line 257: Expected 14 fields in line 257, saw 31
Skipping line 258: Expected 14 fields in line 258, saw 31
Skipping line 259: Expected 14 fields in line 259, saw 31
Skipping line 260: Expected 14 fields in line 260, saw 31
Skipping line 261: Expected 14 fields in line 261, saw 31
Skipping line 262: Expected 14 fields in line 262, saw 31
Skipping line 263: Expected 14 fields in line 263, saw 31
Skipping line 264: Expected 14 fields in line 264, saw 31
Skipping line 265: Expected 14 fields in line 265, saw 31
Skipping line 266: Expected 14 fields in line 266, saw 31
Skipping line 267: Expected 14 fields in line 267, saw 31
Skipping line 268: Expected 14 fields in line 268, saw 31
Skipping line 269: Expected 14 fields in line 269, saw 31
Skipping line 270: Expected 14 fields in line 270, saw 31
Skipping line 271: Expected 14 fields in line 271, saw 31
Skipping line 272: Expected 14 fields in line 272, saw 31
Skipping line 273: Expected 14 fields in line 273, saw 31
Skipping line 274: Expected 14 fields in line 274, saw 31
Skipping line 275: Expected 14 fields in line 275, saw 31
Skipping line 276: Expected 14 fields in line 276, saw 31
Skipping line 277: Expected 14 fields in line 277, saw 31
Skipping line 278: Expected 14 fields in line 278, saw 31
Skipping line 279: Expected 14 fields in line 279, saw 31
Skipping line 280: Expected 14 fields in line 280, saw 31
Skipping line 281: Expected 14 fields in line 281, saw 31
Skipping line 282: Expected 14 fields in line 282, saw 31
Skipping line 283: Expected 14 fields in line 283, saw 31
Skipping line 284: Expected 14 fields in line 284, saw 31
Skipping line 285: Expected 14 fields in line 285, saw 31
Skipping line 286: Expected 14 fields in line 286, saw 31
Skipping line 287: Expected 14 fields in line 287, saw 31
Skipping line 288: Expected 14 fields in line 288, saw 31
Skipping line 289: Expected 14 fields in line 289, saw 31
Skipping line 290: Expected 14 fields in line 290, saw 31
Skipping line 291: Expected 14 fields in line 291, saw 31
Skipping line 292: Expected 14 fields in line 292, saw 31
Skipping line 293: Expected 14 fields in line 293, saw 31
Skipping line 294: Expected 14 fields in line 294, saw 31
Skipping line 295: Expected 14 fields in line 295, saw 31
Skipping line 296: Expected 14 fields in line 296, saw 31
Skipping line 297: Expected 14 fields in line 297, saw 31
Skipping line 298: Expected 14 fields in line 298, saw 31
Skipping line 299: Expected 14 fields in line 299, saw 31
Skipping line 300: Expected 14 fields in line 300, saw 31
Skipping line 301: Expected 14 fields in line 301, saw 31
Skipping line 302: Expected 14 fields in line 302, saw 31
Skipping line 303: Expected 14 fields in line 303, saw 31
Skipping line 304: Expected 14 fields in line 304, saw 31
Skipping line 305: Expected 14 fields in line 305, saw 31
Skipping line 306: Expected 14 fields in line 306, saw 31
Skipping line 307: Expected 14 fields in line 307, saw 31
Skipping line 308: Expected 14 fields in line 308, saw 31
Skipping line 309: Expected 14 fields in line 309, saw 31
Skipping line 310: Expected 14 fields in line 310, saw 31
Skipping line 311: Expected 14 fields in line 311, saw 31
Skipping line 312: Expected 14 fields in line 312, saw 31
Skipping line 313: Expected 14 fields in line 313, saw 31
Skipping line 314: Expected 14 fields in line 314, saw 31
Skipping line 315: Expected 14 fields in line 315, saw 31
Skipping line 316: Expected 14 fields in line 316, saw 31
Skipping line 317: Expected 14 fields in line 317, saw 31
Skipping line 318: Expected 14 fields in line 318, saw 31
Skipping line 319: Expected 14 fields in line 319, saw 31
Skipping line 320: Expected 14 fields in line 320, saw 31
Skipping line 321: Expected 14 fields in line 321, saw 31
Skipping line 322: Expected 14 fields in line 322, saw 31
Skipping line 323: Expected 14 fields in line 323, saw 31
Skipping line 324: Expected 14 fields in line 324, saw 31
Skipping line 325: Expected 14 fields in line 325, saw 31
Skipping line 326: Expected 14 fields in line 326, saw 31
Skipping line 327: Expected 14 fields in line 327, saw 31
Skipping line 328: Expected 14 fields in line 328, saw 31
Skipping line 329: Expected 14 fields in line 329, saw 31
Skipping line 330: Expected 14 fields in line 330, saw 31
Skipping line 331: Expected 14 fields in line 331, saw 31
Skipping line 332: Expected 14 fields in line 332, saw 31
Skipping line 333: Expected 14 fields in line 333, saw 31
Skipping line 334: Expected 14 fields in line 334, saw 31
Skipping line 335: Expected 14 fields in line 335, saw 31
Skipping line 336: Expected 14 fields in line 336, saw 31
Skipping line 337: Expected 14 fields in line 337, saw 31
Skipping line 338: Expected 14 fields in line 338, saw 31
Skipping line 339: Expected 14 fields in line 339, saw 31
Skipping line 340: Expected 14 fields in line 340, saw 31
Skipping line 341: Expected 14 fields in line 341, saw 31
Skipping line 342: Expected 14 fields in line 342, saw 31
Skipping line 343: Expected 14 fields in line 343, saw 31
Skipping line 344: Expected 14 fields in line 344, saw 31
Skipping line 345: Expected 14 fields in line 345, saw 31
Skipping line 346: Expected 14 fields in line 346, saw 31
Skipping line 347: Expected 14 fields in line 347, saw 31
Skipping line 348: Expected 14 fields in line 348, saw 31
Skipping line 349: Expected 14 fields in line 349, saw 31
Skipping line 350: Expected 14 fields in line 350, saw 31
Skipping line 351: Expected 14 fields in line 351, saw 31
Skipping line 352: Expected 14 fields in line 352, saw 31
Skipping line 353: Expected 14 fields in line 353, saw 31
Skipping line 354: Expected 14 fields in line 354, saw 31

0

In [26]:
test

,entry_id,contest_id,contest_name,PG,PG,SG,SG,SF,SF,PF,PF,C
0,2.792623e+09,73111-255728507,50-Player League ($1) - Experienced Players Ex...,73111-24247:Fred VanVleet,73111-9535:Kyle Lowry,73111-20640:Jordan Clarkson,73111-19067:CJ McCollum,73111-110357:RJ Barrett,73111-110356:Nickeil Alexander-Walker,73111-42669:Julius Randle,73111-84708:Robert Williams,73111-40203:Rudy Gobert
1,2.792623e+09,73111-255721897,$2.5K Fri NBA EPE Shot (No Experienced Players),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.792623e+09,73111-255734034,NBA Mini Swat (EPE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN