In [35]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import shutil
import difflib

today = date.today()
today = today.strftime("%m%d20%y")
today

'11092021'

In [36]:
bbm = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\BBM_Data\BBM_Daily_' + str(today) + ".csv")
dkng = pd.read_csv(r'C:\Users\vchang\Documents\Fantasy Bball\DFS\DKNG_Data\DKSalaries_PlayerPool_' + str(today) + ".csv")

In [37]:
bbm['Name'] = bbm['Name'].map(lambda x: difflib.get_close_matches(x, dkng['Name'])[0])

In [38]:
bbm

,Rank,Name,Team,Pos,Opp,p,3,r,a,s,b,to,Expected_Points
0,1,Paul George,LAC,SF/PF,POR,28.33,3.73,7.25,6.38,1.80,0.48,3.29,51.7425
1,2,Giannis Antetokounmpo,MIL,PF/C,@ PHI,29.34,1.50,10.82,6.61,1.09,1.00,2.82,56.3000
2,3,Donovan Mitchell,UTA,PG/SG,ATL,27.40,3.61,4.33,6.24,0.89,0.27,2.22,45.1875
3,4,Rudy Gobert,UTA,C,ATL,11.94,0.00,14.05,1.45,0.73,2.73,1.61,37.7925
4,5,John Collins,ATL,PF/C,@ UTA,16.71,1.35,7.88,2.25,0.79,0.96,1.23,33.4950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,74,Donte DiVincenzo,MIL,PG/SG,@ PHI,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000
95,98,Lou Williams,ATL,PG/SG,@ UTA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000
96,76,Jalen Johnson,ATL,SF,@ UTA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000
97,78,Udoka Azubuike,UTA,C,ATL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000
98,99,Malik Fitts,UTA,SF,ATL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000

In [39]:
final = bbm.set_index('Name').join(dkng.set_index('Name'))
final.reset_index(inplace=True)

In [40]:
final.reset_index(inplace=True)
final.to_csv("final"+str(today)+".csv", index=False)

In [41]:
final.head()

,index,Name,Rank,Team,Pos,Opp,p,3,r,a,...,to,Expected_Points,Position,Name + ID,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,0,Paul George,1,LAC,SF/PF,POR,28.33,3.73,7.25,6.38,...,3.29,51.7425,SF,Paul George (20071151),20071151,SF/F/UTIL,10500,POR@LAC 11/09/2021 10:00PM ET,LAC,51.44
1,1,Giannis Antetokounmpo,2,MIL,PF/C,@ PHI,29.34,1.50,10.82,6.61,...,2.82,56.3000,PF/C,Giannis Antetokounmpo (20071147),20071147,PF/C/F/UTIL,11400,MIL@PHI 11/09/2021 07:30PM ET,MIL,55.92
2,2,Donovan Mitchell,3,UTA,PG/SG,ATL,27.40,3.61,4.33,6.24,...,2.22,45.1875,PG/SG,Donovan Mitchell (20071165),20071165,PG/SG/G/UTIL,9100,ATL@UTA 11/09/2021 09:00PM ET,UTA,42.25
3,3,Rudy Gobert,4,UTA,C,ATL,11.94,0.00,14.05,1.45,...,1.61,37.7925,C,Rudy Gobert (20071172),20071172,C/UTIL,8900,ATL@UTA 11/09/2021 09:00PM ET,UTA,42.82
4,4,John Collins,5,ATL,PF/C,@ UTA,16.71,1.35,7.88,2.25,...,1.23,33.4950,PF/C,John Collins (20071192),20071192,PF/C/F/UTIL,6800,ATL@UTA 11/09/2021 09:00PM ET,ATL,34.77

In [34]:
os.getcwd()

'C:\\Users\\vchang\\Fantasy_Basketball'